@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "tailwindcss";


@theme{
  --font-base: 'Michroma', sans-serif;
  --font-lora: 'Lora', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@layer base {
  * {
    font-family: 'Michroma',sans-serif;
  }
}

@layer utilities {

  .hero-bg {
    position: relative;
  }

  .hero-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/model3.jpg') center top / cover no-repeat;
    filter: grayscale(100%);
    z-index: -1;
  }

  .outlined-text{
    color: transparent;
    -webkit-text-stroke: 1px black;
  }

 
  

  /* .bg-image{
    background: url('model3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  } */

  .text-shadow-md{
    text-shadow: 8px 6px 25px #111;
  }
  .text-shadow-lg{
    text-shadow: 8px 8px 18px black;
  }

  .custom-text {
    font-family: 'Times New Roman', Times, serif;
  }

  @keyframes fadeUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes fadeDown {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes scaleIn {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
  }

  .slide-in {
    @apply animate-[slideIn_0.4s_ease-in-out_forwards]
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }

  

}